<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>

    </header>
    <main class="login">
        <form action="/" method="POST" class="form">
            <div class="form__div">
                <h4>Nombre de usuario</h4>
                <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div class="form__div">
                <h4>Contraseña</h4>
                <input type="password" name="pass" placeholder="Contraseña">
            </div>
            <div class="form_div_button--login">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        
    </footer>
</body>
</html>