<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/df7032ec01.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <header class="header">
        <div class="header_div">
            <div class="logo">
                <a href="/">
                    <img src="/imagenes/logo-mercado-liebre.svg" alt="">
                </a>
            </div>
            <div class="header_div_input">
                <form action="">
                    <input class="header_div_input-buscador" type="text" placeholder="Buscar productos,marcas">
                    <button><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
        <div class="index__header__div-p">
            <p> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y con tarjeta de credito </p>
        </div>
       
            <nav class="nad-var">
                <ul type="none">
                    <li><a href=""> Ofertas</a></li>
                    <li><a href=""> Tiendas Oficiales</a></li>
                    <li><a href=""> Vender</a></li>
                    <li><a href=""> Ayuda</a></li>
                </ul>
                <ul type="none">
                    <li><a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-address-card"></i></li>
                    <li><a href="/login"> Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href=""> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
            </nav>
            <div class="burguer_menu">
                <button> <i class="fa-solid fa-bars"></i></button>
               

            </div>

      
    </header>
    <main class="login">
        <form action="/" method="POST" class="form">
            <div class="form__div">
                <h4>Nombre de usuario</h4>
                <input type="text" name="user" placeholder="Nombre de usuario">
            </div>
            <div class="form__div">
                <h4>Contraseña</h4>
                <input type="password" name="pass" placeholder="Contraseña">
            </div>
            <div class="form_div_button--login">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer class="index_footer">
        <section class="index_footer_section-pago">

            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="index_footer_section-envio">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="index_footer_section-seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h4> Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegido</p>
        </section>
        <div class="index_footer_div">
            <p id="g"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div><!-- aca use div porquew en la consigna decia solo 3 secciones. -->
    </footer>
</body>
</html>