 
/*mobile*/
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   
   }

body{
   margin: 0%;
   font-style: var(--tipografia); 

   background-color: var(--colorGrisClaro)
}
/*header*/

.main{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 90%; 
}


/*main*/
.main{
   display: flex;
   flex-direction: column;
   align-items: center;
   display: flex;
   width: 100%;
}
.main_section{
   text-align: center;
}


.main_div_img{
   width: 100%;
}
.main_article{
   margin: 10px;
   box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.main_article_div {
   border-top: 1px solid #ebebeb;
   padding: 15px;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
}
.main_article_div i{
   display: block;
   font-size: 16  px;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: 1px solid #39b54a;
   background-color: #FFF ;
   border-radius: 50%;
   color: #39b54a;
   position: absolute;
   right: 20px;
   top: -15px;
   
   align-self: baseline;
} 
.article_precio{
   flex: 30%;
   margin: 0%;
}
.article_descuento{
   flex: 70%;
   color: #39b54a;
   margin: 0%;
}
.main_section_h3{
   font-style: var(--tamanioTexto);
   margin-left: 0px;
   text-align: left;
   margin-left: 3%;
}
.main_section_h4{
  font-size: var(--tamanioTitulares);
  color: var(--colorGrisOscuro);
  
}

.main_section_article_p_descripcion{
   font-size: var(--tamanioDescripciones);
}
/*footer*/
footer{
   text-align: center;
   padding: 20px;
   color: var(--colorGrisOscuro);
   margin: 0;
} 
.footer_nav_div{
   color: var(--colorCeleste);
   background-size: 2em;
   margin-bottom: 10px;
 }
 h6{
   text-align: left;
   margin-left: 3%;
 }
 h5{
   font-size: var(--tamanioDescripciones);
   margin: 2%;
   margin-top: 0%;
   margin-bottom: 0%;
 }
 .footer_section_p
 {
   margin: 0%;
   margin-top: 0%;
   margin-bottom: 10%;
 }


/*  Mobile */
@media (min-width:320) and (max-width:768px) { 
   .main_section_h4{
      display: none;
    }
  }
/*Tablets*/
@media (min-width:769px)
 {
   .body{
      box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
   }
   
   .main_section_productos{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
   }
   .main_article{  
      width: 44%;
      margin-left: 3%;
   }
 }

/*Destok*/
@media (min-width:1024px){
   .body{
      box-shadow : 0px 0px 10px rgb ( 100 , 100 , 100 );
   }
   .main_section_productos{
      flex-wrap: nowrap;
     }
    
   .main_section_productos{
      flex-wrap: nowrap;
   }
   .burguer_menu {
      display: none;
   }
   .main_article{  
      width: 20%;
   }     
}
