 
body{
   margin: 0%;
   font-style: Roboto;
}
/*header*/
.header_encabezado{
   background-color: var(--colorAmarillo);
  padding: 3px;
}
main{
   text-align: center;
}
.logo{
   margin-left: 5px;
   padding: 10px; 
   
   }
.header_div_input{
   margin-left: 10px;
}
.header_div_p{
   text-align: center;
}
ul{
   padding: 0px;
}
.burguer_menu{
   text-align: center;
   width: 30px; 
   height: 25px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 5px;
   color: var(--colorGrisClaro);
   background-color: var(--colorCeleste);
   border-radius: 5px;
}
/*main*/
.main_setion_h3{
   font-style: var(--tamanioTexto);
   text-align: center;
}
.main_section_h4{
   font-size: var(--tamanioTitulares);
}
.main_section_article_p_precio{
   font-size: var(--tamanioPrecios);
}
.main_section_article_p_descuento{
   font-size: var(--tamanioDescuentos);
}
.main_section_article_p_descripcion{
   font-size: var(--tamanioDescripciones);
}
/*footer*/
footer{
   text-align: center;
   padding: 20px;
   color: var(--colorGrisOscuro);
   margin: 0;
} 
.footer_nav_div{
   color: var(--colorCeleste);
   background-size: 2em;
   margin-bottom: 10px;
 }
 h6{
   text-align: left;
 }
 h5{
   font-size: var(--tamanioDescripciones);
   margin: 2%;
   margin-top: 0%;
   margin-bottom: 0%;
 }
 .footer_section_p
 {
   margin: 0%;
   margin-top: 0%;
   margin-bottom: 5%;
 }